body{
    background-color: #333;
    font-family: 'Montserrat', sans-serif;    
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 600;    
}

nav.black {
	color: white;
    background:#239B56;
    transition: background 500ms;
    font-weight: 00;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color:#145A32;
}

#mainNavbar .navbar-brand {
    color:#004D40;
    font-size: 1.5rem;
}

#content{
    background:url(https://images.unsplash.com/photo-1596524430615-b46475ddff6e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 60px 0 120px;
    height: 750px;
}

#bleh{
    margin-top: 130px;
}

.logo a{
    
    color: #fff;
    font-size: 2rem;
    margin: 0 10px;
    transition: .2s linear;
}