body{
    background-color: #BCAAA4;
    font-family: 'Montserrat', sans-serif;
}

section{
    margin-top: 100px;
}


.bub img{
    width: 20%;
    height: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#title{
    margin-top: 100px;
    
}


#title h1{
    color: #4E342E;
    font-weight: 600;
}
    

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 600;    
}

nav.black {
    color: white;
   background: #8D6E63;
    transition: background 500ms;
    font-weight: 00;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color:#4E342E;
}

#mainNavbar .navbar-brand {
    color:#4E342E;
    font-size: 1.5rem;
}

.blob p{
    line-height: 2;
    color: #4E342E;
    font-weight: 300;
}

.blob h1{
    color: #4E342E;
    font-weight: 600;
}

@media (max-width: 768px) {
    #title{
        margin-top: 270px;
        font-size: 30px;
        
}
    #title h1{
        font-size: 22px;
    }
}